<%= stylesheet_link_tag 'designs' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Canvas data:</strong>
  <%= @design.canvas_data %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag( @design.url, :class => 'feature') %>
</p>

<p>
  <strong>Designers:</strong>
  <% @design.users.each do |u| %>
    <%= u.name %>
  <% end %>


</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
